body {
    display: flex; 
    align-items: center; 
    height: 80vh;
    justify-content: center;
} 
.calculator { 
    margin: auto;
    width: 45%;  
    padding: 10px;
    height: 550px;
    border: 2.5px solid grey; 
   
} 
#display{
    background-color: rgba(9, 9, 26, 0.986); 
    height: 120px; 
    width: 100%;
    color: azure; 
    font-size: 28px; 
    text-align: right; 
    line-height: 78px;
    
} 
#secondaryDisplay {
	position: absolute;
	top: 3px;
	right: 10px;
}
.calcKeys{ 
    width: 100%;
    display: grid; 
    grid-gap: 32px;
    grid-template-columns: repeat(4, 2fr); 
    margin: 6px 0;
} 
.calcKeys button{ 
    font-size: 25px;
    
} 
#equals {
    grid-template-columns: repeat(5, 1fr); 
    width: 100%; 
    height: 120px; 
    background-color: blue;
} 
#clear {
    background-color: brown;
}